<!DOCTYPE html>
<html>
<head>
  <% include partials/default/head.ejs %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy3kAz1R6WFKNrSL0wqE0qVcJwd9HSzJ4"></script>
</head>
  <body class="<%= page %>">
    <% include partials/default/header.ejs %>
    <div class="wrapper">
      
      <div class="content small-12 small-centered medium-10 columns">
        
        <h2 class="mtnTitle"><%= name %></h2>
        <iframe
          class="small-12 small-centered columns"
          height="400"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBmRLUChuDOsWWZFEkI_zxlCOwQj1h6Gos&center=<%=lat%>,<%=lng%>&zoom=12&maptype=satellite">
        </iframe>
        <div class="row rate-fav">
          <% if(data){ %> 
          <div class="left small-12 large-6 columns">
            <h3>Add <%= name %> to Favorites</h3>
            <% include partials/forms/addFavorite.ejs %>
          </div>
          <div class="right small-12 large-6 columns">
            <h3>Rate <%= name %></h3>
            <% include partials/forms/ratingForm.ejs %>
          </div>
          <% } %>
        </div>
        <div class="slick row small-12 small-centered columns">
          <% for(var i = 0; i<photos.length; i++){%>
             <div>
                <img src='https://farm<%= photos[i].farm%>.staticflickr.com/<%= photos[i].server%>/<%= photos[i].id%>_<%= photos[i].secret%>_b.jpg'/>
             </div>
          <% }; %>
        </div>
        <div class="row details-weather">
          <div class="roundbox details small-12 large-5 columns">
            <h3>Details For: <%= name %></h3>
            <h4>Location:</h4> <p><%= location %></p>
            <h4>Station Triplet:</h4> <p><%= triplet %></p>
            <h4>Elevation:</h4> <p><%= elevation %> ft</p>
            <h4>Latitude:</h4> <p><%= lat %></p>
            <h4>Longitude:</h4> <p><%= lng %></p>
          </div>
          <div class="small-12 large-6 large-offset-1 columns">
              <% conditions.forEach(function(item){ %>
                <div class="roundbox weather">
                  <h3>Snow Conditions For: <%= item['Date'] %></h3>
                  <h4>Snow Water Equivalend in Inches:</h4> 
                    <p><%= item['Snow Water Equivalent (in)'] %></p>
                  <h4>Snow Depth in Inches:</h4>
                    <p><%= item['Snow Depth (in)'] %></p>
                </div>
              <% }); %>
          </div>
        </div>
      </div>
      <% include partials/default/footer.ejs %>
      <% include partials/default/jsdefaults.ejs %>
    </div>
  </body>
</html>
