<!DOCTYPE html>
<html>
<head>
  <% include partials/default/head.ejs %>
</head>
  <body class="<%= page %>">
    <% include partials/default/header.ejs %>
    <div class="wrapper">
      <div class="jumbotron small-12 small-centered columns">
      </div>
      
      <p><%= name %></p>
      <p><%= triplet %></p>
      <p><%= elevation %></p>
      
      <% conditions.forEach(function(item){ %>
        <div>
          <p><%= item['Date'] %></p>
          <p><%= item['Snow Water Equivalent (in)'] %></p>
          <p><%= item['Snow Depth (in)'] %></p>
        </div>
      <% }); %>

      <% include partials/forms/signUp.ejs %>

      <% include partials/default/footer.ejs %>
      <% include partials/default/jsdefaults.ejs %>
    </div>
  </body>
</html>
