<!DOCTYPE html>
<html>
<head>
  <% include partials/default/head.ejs %>
</head>
  <body class="<%= page %>">
    <% include partials/default/header.ejs %>
    <div class="wrapper">
      
      <div class="content small-11 small-centered medium-10 columns">

        <h2><%= name %></h2>
    
        <div class="slick">
          <% for(var i = 0; i<photos.length; i++){%>
             <div>
                <img src='https://farm<%= photos[i].farm%>.staticflickr.com/<%= photos[i].server%>/<%= photos[i].id%>_<%= photos[i].secret%>_b.jpg' />
             </div>
          <% }; %>
        </div>

        <% if(data){ %> 
          <% include partials/forms/ratingForm.ejs %>
          <% include partials/forms/addFavorite.ejs %>
        <% } %>
        <p>Station Triplet: <%= triplet %></p>
        <p>Elevation: <%= elevation %> ft</p>
        <p>Latitude: <%= lat %></p>
        <p>Longitude: <%= lng %></p>

        <p>Weather : <%= weather %></p>


        <img src="" />

        <% conditions.forEach(function(item){ %>
          <div class="searchResults">
            <h3>Weather For: <%= item['Date'] %></h3>
            <p>Snow Water Equivalend in Inches: <%= item['Snow Water Equivalent (in)'] %></p>
            <p>Snow Depth in Inches: <%= item['Snow Depth (in)'] %></p>
          </div>
        <% }); %>

      </div>
      <% include partials/forms/signUp.ejs %>

      <% include partials/default/footer.ejs %>
      <% include partials/default/jsdefaults.ejs %>
    </div>
  </body>
</html>
