<!DOCTYPE html>
<html>
<head>
  <% include partials/default/head.ejs %>
</head>
  <body class="<%= page %>">
    <% include partials/default/header.ejs %>
    <div class="wrapper">
      <div class="jumbotron small-12 small-centered columns">
      </div>
      
      <p><%= name %></p>
      <p><%= triplet %></p>
      <p><%= elevation %></p>

      <p><%= snowWaterEq %></p>
      <p><%= snowDepth %></p>
      

      <% include partials/forms/signUp.ejs %>

      <% include partials/default/footer.ejs %>
      <% include partials/default/jsdefaults.ejs %>
    </div>
  </body>
</html>
