<!DOCTYPE html>
<html>
<head>
  <% include partials/default/head.ejs %>
</head>
  <body class="<%= page %>">
    <% include partials/default/header.ejs %>
    <div class="large-9 large-centered columns">
    	<h1>Your Results: </h1>
      <% stations.forEach(function(item){ %>
        	<a href="/mountain/<%= item.triplet %>">
	        	<div class="searchResults row large-8 large-centered columns">
	        		<div class="large-4 large-centered columns">
                <h3>Mountain: <%= item.name %></h3>
                <p>Triplet Id:<%= item.triplet %></p>
  	        		<p>Elevation: <%= item.elevation %> ft</p>
              </div>
	        	</div>
        	</a>
      <% }); %>
	</div>
      <% include partials/default/footer.ejs %>
      <% include partials/default/jsdefaults.ejs %>
  </body>
</html>
