
<h1>Welcome, <%= data.username %></h1>

<div class="large-6 columns">
    <h2>Your Favorites</h2>
	
	<% favs.forEach(function(item){ %>
	<a href="/mountain/<%= item.triplet %>">
		<div class=" searchResults favorites">
	    	<p>Name: <%= item.name %></p>
	    	<p>Station Triplet: <%= item.triplet %></p>
	        <p>Elevation: <%= item.elevation %> ft</p>
		</div>
	</a>
	<% }); %>
</div>

<div class="large-6 columns">

	<h2>Your Ratings</h2>
	<% ratings.forEach(function(i){ %>
	<a href="/mountain/<%= i.triplet %>">
		<div class=" searchResults favorites">
	    	<p>Name: <%= i.name %></p>
	    	<p>Station Triplet: <%= i.triplet %></p>
	        <p>Elevation: <%= i.elevation %> ft</p>
		</div>
	</a>
	<% }); %>
    
</div>
